.member-manage-user-list-box {
    width: 750px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    border-bottom: 3px solid rgba(24, 160, 251, 1);
}

.member-manage-user-info-box {
    width: 150px;
    padding: 30px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.member-manage-user-profile-icon-box {
    width: 35px;
    height: 35px;
}

.member-manage-user-profile-default-image {
    width: 100%;
    height: 100%;

    background-position: 50% 50%;
    background-size: 100% 100%;
    background-image: url(assets/default-user-icon.png);
}

.member-manage-user-profile-image {
    width: 100%;
    height: 100%;
    
    border-radius: 50% 50%;

    background-position: 50% 50%;
    background-size: 100% 100%;
}

.member-manage-user-nickname-box {
    flex-direction: columns;
}

.member-manage-user-authority-exit-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    font-size: 20px;
    font-weight: 400;
}

.member-manage-user-authority-box {
    width: 135px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px 10px;
    background-color: rgba(24, 160, 251, 0.7);
}

.member-manage-user-exit-box {
    width: 135px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 3px solid rgba(24, 160, 251, 0.5);
}

.member-manage-user-exit-box:hover {
    cursor: pointer;
    background-color: rgba(24, 160, 251, 0.5);
}

.master-icon-box {
    width: 15px;
    height: 15px;
}

.master-icon {
    width: 15px;
    height: 15px;

    position: absolute;
    transform: translateY(-100%);

    background-position: 50% 50%;
    background-size: 100% 100%;
    background-image: url(../../assets/crown-icon.png);
}

#member-manage-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Spoqa Han Sans Neo';
    font-size: 17px;
    font-weight: 400;
}

.member-manage-card {
    width: 900px;
    height: 870px;
    
    border-radius: 15px;
    border: 3px solid rgba(24,160,251,1);
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: rgba(232, 241, 255,1);
    border-radius: 30px;
}

.member-button-box {
    width: 52px;
    height: 40px;

    margin: 15px 25px 15px 823px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.member-button-box{
    cursor: pointer;
}

.btn:hover{
    cursor: pointer;
}

.btn-primary {
    width: 52px;
    height: 40px;
}

.btn-primary:hover{
    cursor: pointer;
}

.member-manage-main-box {
    width: 810px;
    height: 720px;

    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px 10px;
    background-color: rgba(255,255,255,1);
}

.member-manage-track-vertical {
    top: 2px;
    bottom: 2px;
    right: 8px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.111);
}

.member-manage-track-vertical .member-manage-thumb-vertical {
    padding: 0 8px 0 0;
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(24, 160, 251, 1);
}